<ion-content padding>
  
    <ion-grid>
    
      <ion-row class="top">
        <ion-col width="10%"></ion-col>
          <ion-col width="80%">
        <ion-icon (click)="ClosePopover()" src="../../assets/icon/icon_close.svg" float="right"></ion-icon>
      </ion-col>
      <ion-col width="10%"></ion-col>
      </ion-row>
      
      <ion-row><ion-col class="face"><center><img src="../../assets/icon/happy-sharp.svg"></center></ion-col></ion-row>
      <ion-row><ion-col class="question">Toll, das du die Schicht &uuml;bernimmst!</ion-col></ion-row>

      <ion-row><ion-col><center><input class="tun-input" [(ngModel)]="typ" placeholder="Gebetsform"></center></ion-col></ion-row>
      <ion-row><ion-col><center><ion-button (click)="EnterNewPerson()">Eintragen</ion-button></center></ion-col></ion-row>

    </ion-grid> 
  </ion-content>
  