<ion-content>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="100" pullMax="200">
    <ion-refresher-content 
      pullingIcon="arrow-down-outline" 
      [pullingText]="userState.isOnline ? 'ziehen zum Aktualisieren' : 'Aktualisierung geht nur online'" 
      refreshingSpinner="circular"
      [refreshingText]="userState.isOnline ? 'es wird aktualisiert...' : 'Aktualisierung geht nur online'">
    </ion-refresher-content>
  </ion-refresher>
<!-- es wird aktualisiert... -->

  <div class="predigt-title">
    <ion-label class="header-label">PREDIGTEN</ion-label>
    <div class="kreuze"> <img src="../assets/svg/kreuze_blue.svg" id="kreuze" > </div>
    <div class="pfeil"> <img src="../assets/svg/pfeil_yellow_2.svg" id="pfeile" > </div>
  </div>
  <img src="../assets/swipe-down.png" class="swipedown">
  <ion-list>

   <div *ngFor="let predigt of predigten"> 
      <app-predigt-element [predigt]=predigt></app-predigt-element>
  </div>

  </ion-list>

  <!--  && predigten.length>0 -->
  <ion-button *ngIf="isViewCompact && userState.isOnline && !currentListWasSetByLocalDb" class="centered" (click)="getMoreSermons()">mehr</ion-button>
  <!--
  <p *ngIf="!userState.isOnline && predigten.length<1" class="centered"><br/><br/><br/>App ist offline und es sind keine Predigten offline verfügbar. (Tipp: Predigten vorher per WLAN herunterladen, damit sie offline zur Vergügung stehen)!</p>
  
  <p>Anzahl Predigten: {{predigten.length}}</p>
  -->
</ion-content>
