    <!-- HEADER SLIDE SHOW -->
    <ion-slides pager="true" [options]="slideOpts">

      <ion-slide>
        <div class="slide-show">
          <a target= "_blank" href="https://www.youtube.com/diekreative">
          <img src="/assets/slider/Slider_Livestream.jpg"/></a></div>
      </ion-slide>
      
      <ion-slide>
        <div class="slide-show">
          <a target= "_blank" href="https://www.youtube.com/playlist?list=PLlfKsfGdRfHh2WT_YoQlopxPFnwAhQ1b6">
          <img src="/assets/slider/Slider_SingtDemHerrn.png"/></a></div>
      </ion-slide>

      <ion-slide>
        <div class="slide-show">
          <a target= "_blank" href="https://www.youtube.com/playlist?list=PLlfKsfGdRfHizb0BoxFmX_GBNbJlVkI0p">
          <img src="/assets/slider/Slider_Uebernatuerlich.png"/></a></div>
      </ion-slide>
      <ion-slide>
        <div class="slide-show">
          <a target= "_blank" href="https://www.youtube.com/playlist?list=PLlfKsfGdRfHjxL9uFz-JHb4J0HfJ88VrT">
          <img src="/assets/slider/Slider_Beziehungsfaehig.png"/></a></div>
      </ion-slide>

      <ion-slide>
        <div class="slide-show">
          <a target= "_blank" href="https://www.youtube.com/playlist?list=PLlfKsfGdRfHgdH6KEhkxTXJv38k-2xRIg">
          <img src="/assets/slider/Slider_LebenVonDavid.png"/></a></div>
      </ion-slide>
      
    </ion-slides>
