    <!-- HEADER SLIDE SHOW -->
    <ion-slides pager="true" [options]="slideOpts">

      <!--
      <ion-slide>
        <div class="slide-show">
          <img src="/assets/slider/Slider_Startseite_1.jpg"/></div>
      </ion-slide>
      -->
      <ion-slide>
        <div class="slide-show">
          <a target= "_blank" href="https://www.youtube.com/diekreative">
          <img src="/assets/slider/Slider_Startseite_2.jpg"/></a></div>
      </ion-slide>
      <!--
        <ion-slide>
          <div class="slide-show">
            <img src="/assets/slider/Slider_Startseite_3.jpg"/></div>
        </ion-slide>
        -->
      <ion-slide>
        <div class="slide-show">
          <a target= "_blank" href="https://www.youtube.com/playlist?list=PLlfKsfGdRfHi_ATYpGZjto33uqEPDRaMp">
          <img src="/assets/slider/dk_Akademie_YouTube.png"/></a></div>
      </ion-slide>
      <!--
      <ion-slide>
        <div class="slide-show">
          <a href="">
          <img src="/assets/slider/Slider_Startseite_5.jpg"/></a></div>
      </ion-slide>
      <ion-slide>
        <div class="slide-show">
          <a href="">
          <img src="/assets/slider/Slider_Startseite_6.jpg"/></a></div>
      </ion-slide>
      -->
      <ion-slide>
        <div class="slide-show">
          <a target= "_blank" href="https://www.youtube.com/playlist?list=PLlfKsfGdRfHh2WT_YoQlopxPFnwAhQ1b6">
          <img src="/assets/slider/Slider_Startseite_7.jpg"/></a></div>
      </ion-slide>
    </ion-slides>

      <!--ion-row>
    <ion-col size="1">
    
    </ion-col>
    <ion-col size="10">
      
    </ion-col>
    <ion-col size="1">
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-col>
  </ion-row-->