<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>ChurchTools App</ion-card-title>
      &Uuml;bersicht &uuml;ber Dienste und Gruppen, sicherer Gruppenchat und mehr..
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>1. ChurchTools App installieren</ion-card-subtitle>
      <!--
      <ion-button (click)="openWebsite('https://itunes.apple.com/de/app/id1413263051')">
        -->
        <img src="/assets/icon/appstore.png" (click)="openWebsite('https://itunes.apple.com/de/app/id1413263051')">
          <!--
            </ion-button>
    -->
      <ion-card-subtitle>2. App mit Churchtools verbinden</ion-card-subtitle>
      <ion-button (click)="openCtApp()">ChurchTools App verbinden</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
