<ion-content>
    <div class="ueber-uns-title">
        <ion-label class="header-label" color="light"><h1>ÜBER UNS</h1></ion-label>
      </div>
  
    <h1 class="ueberuns-text">diekreative</h1> 
    <h2 class="ueberuns-text">Unser Herzschlag</h2> 
  
    <div id="werwirsind">
      <ion-label id="label" color="secondary">Wer wir sind</ion-label><br><br>
      <ion-text id="text" color="secondary">
        Wir sind eine Gemeinde, die tagundnacht (an)betet, Menschen findet, fördert und freisetzt, und den Himmel auf die Erde bringt.
      </ion-text>
    </div>
  
  
   <div class="kreuze"> <img src="../assets/svg/kreuze_blue.svg" id="kreuze" > </div>
   <div class="pfeil"> <img src="../assets/svg/pfeil_yellow_2.svg" id="pfeile" > </div>
    <mbsc-page>
        <mbsc-card collapsible #run1="mobiscroll">
            <mbsc-card-header class="mbsc-card-header">
                <div>
                    <div class="mbsc-bold">UNSERE VISION</div>
                </div>
            </mbsc-card-header>
            <mbsc-card-content class="mbsc-no-padding">
                <div class="mbsc-btn-group-block">
                    Wir sind eine Gemeinde, die tagundnacht (an)betet, Menschen findet, fördert und freisetzt, und den Himmel auf die Erde bringt.
                </div>
            </mbsc-card-content>
        </mbsc-card>
        
        <mbsc-card collapsible #run2="mobiscroll">
            <mbsc-card-header class="mbsc-card-header">
                <div>
                    <div class="mbsc-bold">WIR GLAUBEN</div>
                </div>
            </mbsc-card-header>
            <mbsc-card-content class="mbsc-no-padding">
                <div class="mbsc-btn-group-block">
                    Wir glauben, dass Gott ist.
 Dass er da ist, dass er nah ist, dass er gut ist, dass er erfahrbar ist. Mitten in Berlin oder sonst wo.
 Dass die alte Botschaft der Bibel heute relevant ist und heute erlebbar ist.
 
 Wir glauben auch, dass Gott heute noch prophetisch spricht, und Er einiges in Berlin vorhat. Über unserer Stadt Berlin gibt es viele prophetische Verheißungen.
 
 Gott hat gesprochen, dass es eine Stadt sein wird, in der viele Menschen Heilung erfahren werden. Heilung an Leib und Seele.
 
 Wir glauben an Erweckung und Transformation ganzer Länder! Daran wollen wir als Gemeinde teilhaben, das erwarten wir, danach strecken wir uns aus!
                </div>
            </mbsc-card-content>
        </mbsc-card>

        <mbsc-card collapsible #run3="mobiscroll">
            <mbsc-card-header class="mbsc-card-header">
                <div>
                    <div class="mbsc-bold">GEMEINDELEITUNG</div>
                </div>
            </mbsc-card-header>
            <mbsc-card-content class="mbsc-no-padding">
                <div class="mbsc-btn-group-block">
                    
                    
                        <ion-grid>
                          <ion-row>
                            <ion-col size="3">
                              <img src="../assets/gemeindeleitung/Christophe.jpeg">
                            </ion-col>
                            <ion-col>
                              <div class="name"><ion-label color="secondary">CHRISTOPHE</ion-label></div>
                              <div class="function"><ion-label color="secondary">HAUPTPASTOR & ÄLTESTER</ion-label></div>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="3">
                              <img src="../assets/gemeindeleitung/Dunja.jpeg">
                            </ion-col>
                            <ion-col>
                              <div class="name"><ion-label color="secondary">Dunja</ion-label></div>
                              <div class="function"><ion-label color="secondary">PASTORIN</ion-label></div>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="3">
                              <img src="../assets/gemeindeleitung/Marc.jpeg">
                            </ion-col>
                            <ion-col>
                              <div class="name"><ion-label color="secondary">Marc</ion-label></div>
                              <div class="function"><ion-label color="secondary">PASTOR FÜR FAMILIEN,<br>JUGEND UND KINDER<br> & ÄLTESTER</ion-label></div>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      

                </div>
            </mbsc-card-content>
        </mbsc-card>

    </mbsc-page>
</ion-content>