<ion-content>
    <div class="ueber-uns-title">
        <ion-label class="header-label">ÜBER UNS</ion-label>
      </div>
  
    <h1 class="ueberuns-text">diekreative</h1> 
    <h2 class="ueberuns-text">Unser Herzschlag</h2> 
  
    <div id="werwirsind">
      <ion-label id="label" color="secondary">Wer wir sind</ion-label><br><br>
      <ion-text id="text" color="secondary">
        Wir sind eine Gemeinde, die tagundnacht (an)betet, Menschen findet, fördert und freisetzt, und den Himmel auf die Erde bringt.
      </ion-text>
    </div>
  
  
   <div class="kreuze"> <img src="../assets/svg/kreuze_blue.svg" id="kreuze" > </div>
   <div class="pfeil"> <img src="../assets/svg/pfeil_yellow_2.svg" id="pfeile" > </div>
    
<!--
   <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
-->
  <!-- #docregion multi -->
  <mat-accordion class="example-headers-align" multi>
  <!-- #enddocregion multi -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Unsere Vision
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <ul>
          <li>Menschen, die wissen, dass Gott sie leidenschaftlich liebt</li>
          <li>dass diese Menschen leidenschaftlich Gott lieben</li>
          <li>dass ein jeder seine Leidenschaften und Begabungen erkennt und trainiert </li>
        </ul>
        <p>All das soll finden – f&ouml;rdern – freisetzen ausdr&uuml;cken!</p>
        <p>Unter “Himmel auf die Erde bringen” verstehen wir, was Jesus in Mt 6,10 sagt: dein Reich komme, dein Wille geschehe, wie im Himmel so auch auf Erden. Gottes Wille ist also: Himmel auf Erden.</p>
        <p>Jesus erkl&auml;rt, dass sein Reich, die K&ouml;nigsherrschaft Gottes (der Himmel) vor der T&uuml;r steht. Gottes Welt ist zum Greifen nah. Seine L&ouml;sungen und Antworten, seine Heilungskraft, seine Liebe, seine F&auml;higkeit zu befreien. Gott ist die Antwort für alle Probleme dieser Welt, unserer Gesellschaften, unserer Familien und unseres pers&ouml;nlichen Lebens.</p>
        <p>Gott m&ouml;chte ganze Nationen ver&auml;ndern, sie mit Leidenschaft für seinen Sohn entz&uuml;nden und Segen in alle Lebensbereiche und Sph&auml;ren der Gesellschaft geben.</p>
        <p>Davon tr&auml;umen wir und daf&uuml;r wollen wir uns von Gott gebrauchen lassen.</p>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Wir glauben
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <p>Wir glauben, dass Gott ist. Dass er da ist, dass er nah ist, dass er gut ist, dass er erfahrbar ist. Mitten in Berlin oder sonst wo.</p>
        <p>Dass die alte Botschaft der Bibel heute relevant ist und heute erlebbar ist.</p>
        <p>Wir glauben auch, dass Gott heute noch prophetisch spricht, und Er einiges in Berlin vorhat. Über unserer Stadt Berlin gibt es viele prophetische Verheißungen. Gott hat gesprochen, dass es eine Stadt sein wird, in der viele Menschen Heilung erfahren werden. Heilung an Leib und Seele.</p>
        <p>Wir glauben an Erweckung und Transformation ganzer Länder!</p>
        <p> Daran wollen wir als Gemeinde teilhaben, das erwarten wir, danach strecken wir uns aus!</p>
      </ng-template>
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Gemeindeleitung
        </mat-panel-title>
      </mat-expansion-panel-header>
          <ion-col size="12">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <img src="../assets/gemeindeleitung/Christophe.jpeg">
                </ion-col>
                <ion-col>
                  <div class="name"><ion-label color="secondary">Christophe</ion-label></div>
                  <div class="function"><ion-label color="secondary">Pastor, Ältester und Gesamtverantwortlicher der Gemeinde diekreative Berlin.</ion-label></div>
                </ion-col>
              </ion-row>
              <ion-row>
                
                <ion-col>
                  <div class="name"><ion-label color="secondary">Dunja</ion-label></div>
                  <div class="function"><ion-label color="secondary">Pastorin in der Gemeinde diekreative Berlin mit dem Schwerpunkt Administration und Mission.</ion-label></div>
                </ion-col>
                <ion-col size="3">
                  <img src="../assets/gemeindeleitung/Dunja.jpeg">
                </ion-col>

              </ion-row>
              <ion-row>
                <ion-col size="3">
                  <img src="../assets/gemeindeleitung/Marc.jpeg">
                </ion-col>
                <ion-col>
                  <div class="name"><ion-label color="secondary">Marc</ion-label></div>
                  <div class="function"><ion-label color="secondary">Ältester und Pastor für Familie, Kinder und Jugend.</ion-label></div>
                </ion-col>
              </ion-row>
              <ion-row>
               
                <ion-col>
                  <div class="name"><ion-label color="secondary">Matthias</ion-label></div>
                  <div class="function"><ion-label color="secondary">Leiter des Büros der Gemeinde.</ion-label></div>
                </ion-col>
                <ion-col size="3">
                  <img src="../assets/gemeindeleitung/Matthias.jpg">
                </ion-col>

              </ion-row>
              <ion-row>
                <ion-col size="3">
                  <img src="../assets/gemeindeleitung/Ulrike.jpg">
                </ion-col>
                <ion-col>
                  <div class="name"><ion-label color="secondary">Ulrike</ion-label></div>
                  <div class="function"><ion-label color="secondary">Mitglied der Gemeindeleitung.</ion-label></div>
                </ion-col>
              </ion-row>
              <ion-row>
                
                <ion-col>
                  <div class="name"><ion-label color="secondary">Karsten</ion-label></div>
                  <div class="function"><ion-label color="secondary">Leiter der Lobpreis- und Öffentlichkeitsarbeit unserer Gemeinde.</ion-label></div>
                </ion-col>
                <ion-col size="3">
                  <img src="../assets/gemeindeleitung/Karsten.jpg">
                </ion-col>

              </ion-row>
              <ion-row>
                <ion-col size="3">
                  <img src="../assets/gemeindeleitung/Marisa.jpg">
                </ion-col>
                <ion-col>
                  <div class="name"><ion-label color="secondary">Marisa</ion-label></div>
                  <div class="function"><ion-label color="secondary">Mitglied der Gemeindeleitung.</ion-label></div>
                </ion-col>
              </ion-row>
              <ion-row>
                
                <ion-col>
                  <div class="name"><ion-label color="secondary">Jutta</ion-label></div>
                  <div class="function"><ion-label color="secondary">Leitung der Diakonie.</ion-label></div>
                </ion-col>
                <ion-col size="3">
                  <img src="../assets/gemeindeleitung/Jutta.jpg">
                </ion-col>
                
              </ion-row>
            </ion-grid>
          </ion-col>
    </mat-expansion-panel>
  </mat-accordion>
  

</ion-content>