<ion-content padding>
  
    <ion-grid>
    
      <ion-row class="top">
        <ion-icon (click)="ClosePopover()" src="../../assets/icon/icon_close.svg"></ion-icon>
      </ion-row>
      
      <ion-row><ion-col class="face"><img src="../../assets/icon/people-sharp.svg"></ion-col></ion-row>
      <ion-row><ion-col class="question">Wer wird deine Schicht &uuml;bernehmen?</ion-col></ion-row>

      <ion-row><ion-col><input class="tun-input" [(ngModel)]="person" placeholder="Name"></ion-col></ion-row>
      <ion-row><ion-col><input class="tun-input" [(ngModel)]="typ" placeholder="Gebetsform"></ion-col></ion-row>
      <ion-row><ion-col><ion-button (click)="EnterNewPerson()">Eintragen</ion-button></ion-col></ion-row>

    </ion-grid> 
  </ion-content>
  