<ion-content>

  <h1 class="ueberuns-text">Gebets-kalender</h1> 

 <!-- div class="back"><a (click)="BackActivated()"><ion-icon name="chevron-back-outline"></ion-icon></a></div -->
 <div class="pos_back">
 <ion-buttons>
      <button mat-flat-button shape="round" color="primary" (click)="BackActivated()"><ion-icon class="innericon" name="chevron-back-outline"></ion-icon>&nbsp;zurück</button>
</ion-buttons>
</div>

 <div class="punkte"> <img src="../assets/svg/punkte_yellow.svg" id="punkte" > </div>
 <div class="pfeil"> <img src="../assets/svg/pfeil_blue_1.svg" id="pfeile" > </div>

 <div class="positionierung">

      <!-- iframe src="https://diekreative.org/churchtools/?q=churchcal&amp;embedded=true&amp;viewname=calView&amp;category_id=17&amp;title=Gebetskalender&amp;cal4web=true" 
      width="100%" height="800px" frameborder="0" scrolling="no" ng-onload="hideLoader()">Dein Brower unterstützt leider keine iFrames!&nbsp;</iframe -->
      <iframe src="https://dktools.church/?q=churchcal&amp;embedded=true&amp;viewname=calView&amp;category_id=6&amp;title=Gebetskalender&amp;cal4web=true" 
      width="100%" height="800px" frameborder="0" scrolling="no" ng-onload="hideLoader()">Dein Brower unterstützt leider keine iFrames!&nbsp;</iframe>

</div>
</ion-content>
