
  <ion-slides pager="false" [options]="slideOpts" (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let person of items; let lst = last; let fst = first">
      <ion-content>
      <ion-row>
        <ion-icon *ngIf="fst!=true" (click)="nav_back()" name="caret-back-outline"></ion-icon>
        <ion-col class="checkin_name">{{ person.name }}</ion-col>
        <ion-icon *ngIf="lst!=true" (click)="nav_fwd()" name="caret-forward-outline"></ion-icon>
      </ion-row>
      <ion-grid class='status3g_{{person.is3gok}}'>
        <ion-row><ion-col class="text">Zeige einfach den folgenden QR Code beim checkin vor, und schon bist Du eingecheckt!</ion-col></ion-row>
        <ion-row><ion-col class="qr">
          <qrcode [qrdata]='person.qrcode' [width]="251" [errorCorrectionLevel]="'M'"></qrcode>
        </ion-col></ion-row>
      </ion-grid> 
  </ion-content>
    </ion-slide>
  </ion-slides>

