.text {
    position: relative;
    //top: 35px;
    top: 10px;
    color: #777777;
    font-family: 'Lato bold';
    text-align: center;
    font-style: bold;
    font-size: 20px;
}

.qr {
    text-align: center;
}

ion-grid.qrcheckin.md.hydrated {
    background-color: #03fd039e;
}
.qr_content {
    background-color: red;
}