<ion-content> 
  <!-- <div class="diekreativeappmain" style="background-color: #fff;">   -->
    <div class="ueber-uns-title">
      <ion-label class="header-label" color="light"><h1>ÜBER UNS</h1></ion-label>
    </div>

  <h1 class="ueberuns-text">diekreative</h1> 
  <h2 class="ueberuns-text">Unser Herzschlag</h2> 

  <div id="werwirsind">
    <ion-label id="label" color="secondary">Wer wir sind</ion-label><br><br>
    <ion-text id="text" color="secondary">
      Wir sind eine Gemeinde, die tagundnacht (an)betet, Menschen findet, fördert und freisetzt, und den Himmel auf die Erde bringt.
    </ion-text>
  </div>


 <div class="kreuze"> <img src="../assets/svg/kreuze_blue.svg" id="kreuze" > </div>


 <div class="pfeil"> <img src="../assets/svg/pfeil_yellow_2.svg" id="pfeile" > </div>
 <app-vision-accordion [title]="'UNSERE VISION'"></app-vision-accordion>
 <app-text-accordion [title]="'WIR GLAUBEN'" [text]="'Wir glauben, dass Gott ist.
 Dass er da ist, dass er nah ist, dass er gut ist, dass er erfahrbar ist. Mitten in Berlin oder sonst wo.
 Dass die alte Botschaft der Bibel heute relevant ist und heute erlebbar ist.
 
 Wir glauben auch, dass Gott heute noch prophetisch spricht, und Er einiges in Berlin vorhat. Über unserer Stadt Berlin gibt es viele prophetische Verheißungen.
 
 Gott hat gesprochen, dass es eine Stadt sein wird, in der viele Menschen Heilung erfahren werden. Heilung an Leib und Seele.
 
 Wir glauben an Erweckung und Transformation ganzer Länder! Daran wollen wir als Gemeinde teilhaben, das erwarten wir, danach strecken wir uns aus!'"></app-text-accordion>
 <app-gemeindeleitung-accordion [title]="'GEMEINDELEITUNG'"></app-gemeindeleitung-accordion>

</ion-content>

<!-- </div> -->


