
ion-grid {
  margin: 2%;
}

ion-card {
    position: relative;
    text-align: center;
    margin: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgb(255, 255, 255);
    box-shadow: 0 0px 0px rgb(255, 255, 255);
}

.card-title {
  position: absolute; 
  top: 36%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
  font: Bold 27px/27px var(--unnamed-font-family-lato);
  text-align: left;
  font: Bold 27px/27px Lato;
  letter-spacing: 2.02px;
  text-transform: uppercase;
}
.card-title {
  font-size: 2.0em;
  position: absolute;
  top: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
  font: Bold 27px/27px Lato;
  letter-spacing: 2.02px;
  font: var(--unnamed-font-family-lato);
  text-align: left;
  font-family: var(--unnamed-font-family-lato);
  text-align: initial;
  line-height: 27px;
  padding-left: 17px;  
}
.card-title {
  position: absolute;
  top: 36%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
}
.card-title {
  position: absolute;
  top: 36%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
}
.card-subtitle {
  font-size: 2.0em;
  position: absolute;
  top: 52%;
  width: 100%;
  color: white;
  font-weight: bold;
  font: Bold 27px/27px Lato;
  letter-spacing: 2.02px;
  font: Bold 27px/27px var(--unnamed-font-family-lato);
  text-align: left;
  font-family: var(--unnamed-font-family-lato);
}
.card-subtitle {
  font-size: 2.0em;
  position: absolute;
  top: 52%;
  width: 100%;
  color: white;
  font-weight: bold;
}

.image{
    position:center;
}

#erlebt{
  background-image: url("/assets/Kachel_Startseite_ELEBT.jpg") no-repeat fixed center;
  background-size: scale-down;
  object-fit: cover;
  //height:162px;
  //width: 162px
}
#predigten{
    background-image: url("/assets/Kachel_Startseite_MEDIATHEK.jpg") no-repeat fixed center;
    background-size: scale-down;
    object-fit: cover;
    //height:162px;
    //width: 162px
}
#lifegroups{
  background-image: url("/assets/Kachel_Startseite_LIFEGROUP.jpg") no-repeat fixed center;
  background-size: scale-down;
  object-fit: cover;
  //height:162px;
  //width: 162px
}
#überuns{
  background-image: url("/assets/Kachel_Startseite_UEBER-UNS.jpg") no-repeat fixed center;
  background-size: scale-down;
  object-fit: cover;
  //height:162px;
  //width: 162px
}
#Tag{
  background-image: url("/assets/Kachel-Startseite_TAGUNDNACHT.jpg") no-repeat fixed center;
  background-size: scale-down;
  object-fit: cover;
  //height:162px;
  //width: 162px
}

ios hydrated {margin: 0px!important;}
