
 <ion-grid>

  <ion-row>
    <ion-col size-lg>
      <ion-card id="predigten" [routerLink]="['../../predigten-audio']"> <img class="image" src="assets/Kachel_Startseite_MEDIATHEK.jpg"/> <div class="card-title"><br>MEDIA<br>THEK</div> </ion-card>
      

    </ion-col>
    <ion-col size-lg>
      <ion-card id="predigten" [routerLink]="['../../lifegroups']"> <img class="image" src="assets/Kachel_Startseite_LIFEGROUP.jpg"/> <div class="card-title"><br>LIFE<br>GROUP</div> </ion-card>
      
    </ion-col>
  
  </ion-row>
  <ion-row>
    <ion-col size-lg>
      <ion-card id="Tag" [routerLink]="['../../tagundnacht']"> <img class="image" src="assets/Kachel_Startseite_TAGUNDNACHT.jpg"/> <div class="card-title">TAG<br>UND<br>NACHT</div> </ion-card>
      
    </ion-col>
    <ion-col size-lg>
      <ion-card id="überuns" [routerLink]="['../../aboutus']"> <img class="image" src="assets/Kachel_Startseite_UEBER-UNS.jpg"/> <div class="card-title"><br>ÜBER<br>UNS</div> </ion-card>
    </ion-col>
     <!--ion-col size="6">
      <ion-card id="erlebt"> <img src="assets/Kachel_Startseite_ELEBT.jpg"/> <div class="card-title"><br>ER<br>LEBT</div> </ion-card>
    </ion-col-->
  </ion-row>
  <!--ion-row>
 
    <ion-col size="1">
    </ion-col>
    <ion-col size="5" size-lg>
      <ion-card id="überuns" > <img src="assets/Kachel_Startseite_GOTTESDIENST.jpg"/> <div class="card-title"> <br>GOTTES<br>DIENST</div> </ion-card>
    </ion-col>
    <ion-col size="1">
    </ion-col>
  </ion-row-->
  <!--ion-row>
    <ion-col size="5" size-lg>
      <ion-card id="predigten"> <img src="assets/Kachel_Startseite_KONTAKT.jpg"/> <div class="card-title"><br>KON<br>TAKT</div> </ion-card>
      
    </ion-col>
    <ion-col size="1">
    </ion-col>
    <ion-col size="5" size-lg>
      
    </ion-col>
    <ion-col size="1">
    </ion-col>
  </ion-row-->
</ion-grid> 

