
.title{
    text-overflow: ellipsis;
}

.accordionbutton{
    position: absolute;
    top:25%;
}

.descriptionopen{
    white-space: normal;
}

.predigttitel{
    color: #777777;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 14px;
}
.title {
    color: #1E3653;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    font-size: 16px;
}
div {
    color: #777777;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 14px;
}
.sermongrid {
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.sermoncol {
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.openclose {
    padding-left: 0px!important;
    padding-right: 0px!important;
    position: absolute;
    right: 0px;
}