<ion-item>
  
  <ion-label>
    
  
 
    
    <ion-grid class="sermongrid">
      <ion-row (click)="toggleTab()">
        <ion-col size="11" class="sermoncol">  <div class="predigttitel">{{predigt.pubDate[0] | date:'fullDate':'':'de'}}</div>
          <div class="title">{{predigt.title[0]}}</div></ion-col>
        <ion-col size="1" class="openclose">  <ion-icon *ngIf="fulltext" class="accordionbutton accordion-closed" name="close-outline"></ion-icon><ion-icon *ngIf="!fulltext" class="accordionbutton accordion-open" name="chevron-down-outline" ></ion-icon></ion-col>
      </ion-row>
    </ion-grid>
    <div>
    <div *ngIf="!fulltext">{{predigt.description[0]}}</div>
    <div *ngIf="fulltext" class="descriptionopen">{{predigt.description[0]}}</div>
    <div *ngIf="fulltext">
      <ion-toolbar >
        <ion-buttons>
            <ion-tab-button (click)="openPlayer()">
              <ion-icon name="headset-sharp" color="primary"></ion-icon>
              <ion-label color="primary">ANHÖREN</ion-label>
            </ion-tab-button>

            <!--
            <ion-tab-button (click)="shareLink(predigt.enclosure[0].$.url, predigt.title[0])">
            -->
            <ion-tab-button (click)="shareLink(predigt.link[0], predigt.title[0], predigt.description[0])">
              <ion-icon name="share-sharp" color="primary"></ion-icon>
              <ion-label color="primary">TEILEN</ion-label>
            </ion-tab-button>
            <!--ion-tab-button>
              <ion-icon  name="star-sharp"></ion-icon>
              <ion-label>MERKEN</ion-label>
            </ion-tab-button-->
           
            <ion-tab-button (click)="openSkript(predigt.skript[0])">
              <ion-icon name="reader-sharp" [color]="predigt.skript!='' ? 'primary' : 'secondary'"></ion-icon>
              <ion-label [color]="predigt.skript!='' ? 'primary' : 'secondary'">SKRIPT</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="playYT(predigt.youtube[0])">
              <ion-icon src="../../assets/icon/youtube.svg" [color]="predigt.youtube!='' ? 'primary' : 'secondary'"></ion-icon>
              <ion-label [color]="predigt.youtube!='' ? 'primary' : 'secondary'">YOUTUBE</ion-label>
            </ion-tab-button>
        </ion-buttons>
        </ion-toolbar>
      <div *ngIf="playervisible">
       <audio  controls class="descriptionopen">
                <source src={{predigt.enclosure[0].$.url}} type="audio/mpeg">
      </audio>
      </div>
    </div>
  </div>
  </ion-label>

  <!--div>
    <h3>{{predigt.pubDate[0] | date:'fullDate':'':'de'}}</h3>
    <h2>{{predigt.title[0]}}</h2>
    <h3>{{predigt.description[0]}}</h3>
  </div-->

</ion-item>