
.title{
    text-overflow: ellipsis;
}

.accordionbutton{
    position: absolute;
    top:25%;
}

.descriptionopen{
    white-space: pre-line;
    text-align: justify;
    width: 100%;
}

.predigttitel{
    color: #777777;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 14px;
}
.title {
    color: #1E3653;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    font-size: 16px;
}
div {
    color: #777777;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 14px;
}
.sermongrid {
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.sermoncol {
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.openclose {
    padding-left: 0px!important;
    padding-right: 0px!important;
    position: absolute;
    right: 0px;
}

.sermons {
    margin-inline-end: 29px;
}

.md.tab-has-label.tab-has-icon.tab-layout-icon-top.ion-activatable.ion-selectable.ion-focusable.hydrated {
  background: unset;
}
.toolbar-active {
  background-color: #ececec35;
}
.toolbar-inactive {
  background-color: #a2a2a28c;
}


.descr {
    font-size: 8.5px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.ion-color-primary {
    //424242
    --ion-color-base: #1E3653 !important;
}

.ion-color-secondary {
    //#93939370 
    --ion-color-base: rgb(153, 153, 153) !important;
}

//Progress Bar


.progress-outer {
    width: 96%;
    margin: 10px 2%;
    padding: 3px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 20px;
}

.progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: #16A1A4;
}
