<!-- <ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div>


  <div class="gottesdienst-title" style="background-color: #fff;">
    <ion-label class="header-label" color="light">GOTTESDIENSTE</ion-label>   </div>


    <h1 class="gottesdienst-text">WILLKOMMEN</h1>
    <h2 class="gottesdienst-text">Wir freuen uns auf dich!</h2>
    <p class="gottesdienst-text">Schau gerne mal bei uns vorbei – vor Ort oder in unserem Live-Stream. Wir feiern Gottesdienst auf Deutsch mit englischer Übersetzung.
    </p>
    <br>

<!--
    <ion-item class="gottesdienst-text">Schau gerne mal bei uns vorbei – vor Ort oder in unserem Live-Stream. Wir feiern Gottesdienst auf Deutsch mit englischer Übersetzung.
  
      
        <ion-icon name="time-sharp" class="gottesdienst-icon"></ion-icon>  Sonntags 10:30 - 12:30 Uhr Kaffee & Tee ab 10:00 Uhr (English translation available) Kindergottesdienst für Kinder & Jugendliche von 3-12 Jahren, parallel. Check-In ab 10:15 Uhr</ion-item>
      -->



    <!--   <div class="godi-icon-with-text">  -->
    <ion-icon name="time-sharp" class="gottesdienst-icon"></ion-icon> <p class="gottesdienst-icon-text">Sonntags 10:30 - 12:30 Uhr Kaffee & Tee ab 10:00 Uhr (English translation available) 
      <br><br> Kindergottesdienst für Kinder & Jugendliche von 3-12 Jahren, parallel. Check-In ab 10:15 Uhr</p>
  

<br> 

      <ion-icon name="location-sharp" class="gottesdienst-icon"></ion-icon> <p class="gottesdienst-icon-text">Motorwerk<br>An der Industriebahn 12<br> 13088 Berlin</p>


 <div class="kreuze"> <img src="../assets/svg/kreuze_yellow.svg" id="kreuze" > </div>

 <div class="pfeil"> <img src="../assets/svg/pfeil_blue_1.svg" id="pfeile" > </div>




</div>
 




<!-- 
  <ion-label ><div class="subtitle">
Wir beten 24 Stunden - 7 Tage - 52 Wochen <br>
Du bist herzlich eingeladen mitzubeten
</div></ion-label>
<ion-buttons *ngIf="userState.hasTuerOeffner">
<ion-grid>
  <ion-row>
    <ion-button (click)="tueroeffner.openFrontDoor()" class="fullwidthbutton">Türöffner vorne</ion-button>
  </ion-row>
  <ion-row> 
    <ion-button (click)="tueroeffner.openSecondDoor()" class="fullwidthbutton">Türöffner hinten</ion-button>
  </ion-row>
</ion-grid>
</ion-buttons>

<iframe  src="https://diekreative.org/churchtools/?q=churchcal&amp;embedded=true&amp;viewname=calView&amp;category_id=17&amp;title=Gebetskalender&amp;cal4web=true" width="100%" height="90%" frameborder="0" scrolling="no">Dein Brower unterstützt leider keine iFrames!&nbsp;</iframe>









    <div class="diekreativeappmain" style="background-color: #fff;">
    <br>
  
    <div class="headerimages"> <img src="../assets/headerimages/Header_Unterseiten_GOTTESDIENST.jpg" > </div>
  
    <h1 class="headercaption">GOTTESDIENSTE</h1> 
  
   <div class="kreuze"> <img src="../assets/svg/kreuze_yellow.svg" id="kreuze" > </div>
  
   <div class="pfeil"> <img src="../assets/svg/pfeil_yellow_1.svg" id="pfeile" > </div>
  
  
   <br><br><br><br><br><br>
   <br><br><br><br><br><br>
   <br><br><br><br><br><br>
   <br><br><br><br><br><br>
   <br><br><br><br><br><br>
  
  
   <br><br><br><br><br><br>
   <br><br><br><br><br><br>
   <br><br><br><br><br><br>
  
   <br><br><br><br><br><br>
   <br><br><br><br><br><br>
  
  
   <br><br><br><br><br><br>
   <br><br><br><br><br><br>
   <br><br><br><br><br><br>

</div>
-->

</ion-content>
