<ion-header>
  <ion-toolbar>
    <ion-label slot="start">Churchtools Login</ion-label>
    <ion-button slot="end" (click)="dismiss()">zurück</ion-button>
    &nbsp;&nbsp;
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nutzer</ion-label>
    <ion-input type="email" [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Passwort</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-button (click)="login()" expand="block">Login</ion-button>
</ion-content>
