<ion-header>
  <ion-toolbar>
    <ion-label slot="start">Churchtools Login</ion-label>
    <ion-button slot="end" (click)="dismiss()">zurück</ion-button>
    &nbsp;&nbsp;
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    &nbsp;<br>
    Mitglieder und Freunde der Gemeinde, die zu unserem Churchtools einen Zugang haben, können sich hier mit ihrem in Churchtools gespeichertem E-Mail/Benutzernamen und Passwort einloggen.
    Dadurch wird das Checkin per QR-Code zu unseren Gottesdiensten freigeschaltet und, falls sie registrierte Beter sind, auch weitere Funktionen zum Verwalten der Gebetsschichten sowie Zugang zum Türöffner.
  <br>&nbsp;
  </ion-item>
  <ion-item>
    <ion-label>Benutzername</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Passwort</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-button (click)="login()" expand="block">Login</ion-button>
</ion-content>
