
.tagundnacht-title {
    box-shadow: 0px 3px 6px #00000029;
    width:100%; 
    height:209px; 
    background-image: url('../../assets/headerimages/Header_Unterseiten_TAGUNDNACHT.jpg'); 
    background-size: cover;
}

.header-label{
    position: absolute;
    top: 158px;
    left: 26px;
    color: #FFFFFF;
    font-family: 'Lato bold';
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
}

.subtitle {
    font-size: 14px;
    font-family: Lato;
    font-weight: normal;
    line-height: normal;
    margin-top:41px;
    margin-bottom:41px;
    margin-left:45px;
    margin-right:45px;

    color: var(--unnamed-color-777777);
    text-align: left;
    font: Regular 14px/18px Source Sans Pro;
    letter-spacing: 0px;
    color: #777777;
    opacity: 1;
}

h3{
    color: var(--ion-color-secondary)
}

h2 {
    color: var(--ion-color-primary)
}


   /* .headercaption */

.punkte {
    position: fixed;
    top: 317px;
    left: 9px;
    width: 79px;
    height: 79px;
    opacity: 1;
}

.pfeil {
    position: fixed;
    top: 500px;
    left: 312px;
    width: 33px;
    height: 21px;
    opacity: 1;
}

ion-button{
    color:#ffffff;
    font-weight: bold;
}

//import Material theme
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
//Material stuff
.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  //Anpassungen dk App
  .mat-expansion-panel-header {
	font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    //font: normal normal bold 16px/20px Source Sans Pro;
    letter-spacing: 0px;
    color: #474747;
    text-transform: uppercase;
}

div.ng-star-inserted {
    color: #777777;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    //font: normal normal normal 14px/18px Source Sans Pro;
    letter-spacing: 0px;
    font-size: 14px;
}

div.currentprayer.ng-star-inserted {
    color: #777777;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    //font: normal normal normal 14px/18px Source Sans Pro;
    letter-spacing: 0px;
    font-size: 14px;
}

.mat-expansion-panel-content {
	font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    //font: normal normal normal 14px/18px Source Sans Pro;
    letter-spacing: 0px;
    //color: #777777;
    color: red;
}

.md.hydrated {
	font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    //font: normal normal normal 14px/18px Source Sans Pro;
    letter-spacing: 0px;
    //color: #777777;
    font-size: 14px;
}
/*
div.item-native {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    //font: normal normal normal 14px/18px Source Sans Pro;
    letter-spacing: 0px;
    color: #777777;
    font-size: 14px;
}
*/
b, strong {
	font-weight: normal;
}

//nextprayer Aufzaehlung
ion-item.nextprayer.item {
    color: #777777;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    //font: normal normal normal 14px/18px Source Sans Pro;
    letter-spacing: 0px;
    font-size: 14px;
}

div.mat-expansion-panel-body.ng-tns-c146-2 {
    padding: 0 5px 16px;
    padding-left: 5px;
}

.mat-focus-indicator.fullwidth.mat-flat-button.mat-button-base.mat-basic {
    width: 100%;
    padding: 5px;
    background-color: #777777;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 16px;
}
.mat-focus-indicator.door1.mat-flat-button.mat-button-base.mat-basic {
    width: 48%;
    padding: 5px;
    background-color: #777777;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 16px;
}
.mat-focus-indicator.door2.mat-flat-button.mat-button-base.mat-basic {
    width: 48%;
    padding: 5px;
    position: fixed;
    right: 5px;
    background-color: #777777;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 16px;
}