

<ion-content>
    <div class="tagundnacht-title" style="background-color: #fff;">
      <ion-label class="header-label" color="light">TAGUNDNACHT</ion-label>
  
  
   <div class="punkte"> <img src="../assets/svg/punkte_yellow.svg" id="kreuze" > </div>
  
   <div class="pfeil"> <img src="../assets/svg/pfeil_blue_1.svg" id="pfeile" > </div>

  
</div>
<ion-label ><div class="subtitle">
Wir beten 24 Stunden - 7 Tage - 52 Wochen <br>
Du bist herzlich eingeladen mitzubeten
</div></ion-label>
<ion-buttons>
  <ion-grid>
    <ion-row> 
      <ion-button (click)="GebetskalenderActivated()" class="fullwidthbutton">Gebetskalender</ion-button>
    </ion-row>
  </ion-grid>
</ion-buttons>
<ion-buttons *ngIf="userState.hasTuerOeffner">
  <ion-grid>
    <ion-row>
      <ion-button (click)="freieSchichtenActivated()" class="fullwidthbutton">Freie Gebetsschichten</ion-button>
    </ion-row>
  </ion-grid>
</ion-buttons>
<ion-buttons *ngIf="userState.hasTuerOeffner">
  <ion-grid>
    <ion-row>
      <ion-button (click)="meineSchichtenActivated()" class="fullwidthbutton">Meine Gebetsschichten</ion-button>
    </ion-row>
  </ion-grid>
</ion-buttons>
<ion-buttons *ngIf="userState.hasTuerOeffner">
  <ion-grid>
    <ion-row>
      <ion-button (click)="tueroeffner.openFrontDoor()" class="fullwidthbutton">Türöffner vorne</ion-button>
    </ion-row>
    <ion-row> 
      <ion-button (click)="tueroeffner.openSecondDoor()" class="fullwidthbutton">Türöffner hinten</ion-button>
    </ion-row>
  </ion-grid>
</ion-buttons>


<!--
   <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
-->
  <!-- #docregion multi -->
  <mat-accordion class="example-headers-align" multi>
  <!-- #enddocregion multi -->
	
	<mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Aktuelles Gebet
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
      {{items[0].time}}&nbsp;{{items[0].format}}&nbsp;{{items[0].person}}&nbsp;{{items[0].note}}
      </ng-template>
    </mat-expansion-panel>

	<mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          N&auml;chstes Gebet
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
	  	  <ion-list >
          <ion-item-sliding *ngFor = "let item of items | slice:1">
            <ion-item>{{item.time}}&nbsp;
            {{item.format}}&nbsp;{{item.person}}&nbsp;{{item.note}}
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ng-template>
    </mat-expansion-panel>
	
	<mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
        	Wochenschwerpunkt
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div [innerHTML]="WeekTopics|unescape"></div>
      </ng-template>
    </mat-expansion-panel>
	
	<mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Gebet f&uuml;r verfolgte Christen
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
       <div [innerHTML] ="PersecutedTopic|unescape"></div>
      </ng-template>
    </mat-expansion-panel>
	
  </mat-accordion>


</ion-content>
