<ion-content>
  <div>
  <div style="width:100%; height:209px; background-image: url(../../assets/headerimages/Header_Unterseiten_LIFEGROUP.jpg); background-size: cover;">
    <h1 class="lifegroup-title">LIFEGROUPS</h1>
  </div>
  <h1 class="lifegroup-text">SEI DABEI</h1>
  <h2 class="lifegroup-text">Get in touch</h2>
  <p class="lifegroup-text">Finde deinen Platz in unseren LifeGroups. Wöchentliche Gruppentreffen mit tollen Leitern und eigenen Visionen an unterschiedlichen Standorten in ganz Berlin. <br /><br />Get in touch mit Gott und Menschen – in unseren LifeGroups.</p> 

  <div class="pfeil"><img src="../assets/svg/pfeil_yellow_1.svg" id="pfeile" > </div>
  <div class="pfeil-blau"><img src="../assets/svg/pfeil_blue_1.svg" id="pfeile" > </div>


  <h3 class="lifegroup-text">Finde deine lifeGroup</h3>
  <!-- Show Map -->
  <!--<app-lg-map></app-lg-map> --> 
  
  <!-- List of Sliding Items -->
  <!--<app-lg-list></app-lg-list>-->
  </div>

  <iframe width="100%" style="border-width:0px" height="900px" src="https://diekreative.org/churchtools/grouphomepage/t0C8YfViN2HpLvDQDhafN8gYogHeVsLi?embedded=true"></iframe>
  
</ion-content>
