.lifegroup-title {

    padding-top: 158px;
    padding-left: 38px;
    font: Bold var(--unnamed-font-size-27)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-lato);
    letter-spacing: var(--unnamed-character-spacing-2-02);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: Bold 27px/27px Lato;
    letter-spacing: 2.02px;
    color: #FFFFFF;
    opacity: 1;

}

h1.lifegroup-text {

    padding-top: 43px;
    padding-left: 102px;
    

    font: Bold var(--unnamed-font-size-27)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-lato);
    letter-spacing: var(--unnamed-character-spacing-2-02);
    color: var(--unnamed-color-003d58);
    text-align: left;
    font: Bold 27px/27px Lato;
    letter-spacing: 2.02px;
    color: #003D58;
    opacity: 1;

}

h2.lifegroup-text {

    margin-top: -10px;
    padding-left: 104px;

    font: Bold var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-lato);
    letter-spacing: var(--unnamed-character-spacing-1-5);
    color: var(--unnamed-color-777777);
    text-align: left;
    font: Bold 20px/27px Lato;
    letter-spacing: 1.5px;
    color: #777777;
    opacity: 1;
}

h3.lifegroup-text {

    margin-left: 30px;
    margin-top:90px;
    font: Bold var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-lato);
    letter-spacing: var(--unnamed-character-spacing-1-5);
    color: var(--unnamed-color-777777);
    text-align: left;
    font: Bold 20px/27px Lato;
    letter-spacing: 1.5px;
    color: #777777;
    opacity: 1;

}

p.lifegroup-text {

    margin-left: 30px;
    margin-right: 86px;
    margin-top: 45px;
    //text-align: justify; 
    font: Regular var(--unnamed-font-size-14)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-source-sans-pro);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-707070);
    text-align: left;
    font: Regular 14px/18px Source Sans Pro;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;

}

.pfeil {
    position: absolute;
    top: 448px;
    right: -24px;
    width: 94px;
    height: 59px;
    /* border: 1.5px solid var(--unnamed-color-e1a730); 
    border: 1.5px;  
    border: 2px solid #E1A730; */
}

.pfeil-blau {
    position: absolute;
    top: 255px;
    left: 40px;
    width: 33px;
    height: auto;
    // top: 448px;
    // left: 325px;
    // width: 94px;
    // height: 59px;
    /* border: 1.5px solid var(--unnamed-color-e1a730); 
    border: 1.5px;  
    border: 2px solid #E1A730; */
}
