<ion-content padding>
  
    <ion-grid>
    <!--
      <ion-row class="top"><ion-icon (click)="ClosePopover()" src="../../assets/icon/icon_close.svg"></ion-icon></ion-row>
      -->
      <ion-row><ion-col class="face"><img src="../../assets/icon/sad-sharp.svg"></ion-col></ion-row>
      <ion-row><ion-col class="question">M&ouml;chtest du deine Schicht wirklich freigeben?</ion-col></ion-row>
      <ion-row class="action">
        <ion-col width="20%"></ion-col>
        <ion-col width="60%">
          <ion-icon class="left" (click)="ConfirmPopover()" src="../../assets/icon/checkmark-circle-sharp.svg"></ion-icon>
          <ion-icon class="right" (click)="ClosePopover()" src="../../assets/icon/close-circle-sharp.svg"></ion-icon>
        </ion-col>
        <ion-col width="20%"></ion-col>
      </ion-row>
    </ion-grid> 
  </ion-content>
  