.top {
    font-size: 27px;
    position: relative;
    //right: 17px;
    float: right;
}
.face {
    position: relative;
    //top: 50px;
    top: 10px;
    text-align: center;
}
.question {
    position: relative;
    //top: 35px;
    top: 10px;
    color: #777777;
    font-family: 'Lato bold';
    text-align: center;
    font-style: bold;
    font-size: 22px;
}
.action {
    font-size: 33px;
    position: relative;
    //top: 50px;
    top: 10px;
}
.left {
    float: left;
}
.right {
    float: right;
}