/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.login-modal-class {
    --background: #222;
  }

  .login-modal-class .modal-wrapper {
    background: #222;
  }

  .modal {
    display: flex !important;
    }

.modal_tun_confirm {
      --width: 250px;
      //--height: 434px;
      //--background: #231F20CC;
      // --height: 100%;
      // --border-radius: 0;
     // --min-height: 100%;

  background: rgba(133, 120, 120, 0.342);

  //box-shadow: -8px 0 16px rgba(0, 0, 0, 0.12);
}

.modal_qr_popover {
  --width: 270px;
  background: rgba(133, 120, 120, 0.342);
}

body { 
  text-align: left;
  letter-spacing: 0px;
  color: #777777;
  opacity: 1;
  font: normal normal normal 14px/18px Source Sans Pro;
 }

a {
  text-decoration-color: #E1A730;
}

h1, h2, h3, h4, h5 {
  text-align: left;
  font: Bold 27px/27px Lato;
  text-decoration-color: #E1A730;
}

