<ion-content>

  <h1 class="ueberuns-text">Audienz</h1> 

 <!-- div class="back"><a (click)="BackActivated()"><ion-icon name="return-up-back-outline"></ion-icon></a></div -->

 <div class="punkte"> <img src="../assets/svg/punkte_yellow.svg" id="punkte" > </div>
 <div class="pfeil"> <img src="../assets/svg/pfeil_blue_1.svg" id="pfeile" > </div>

 <div class="positionierung">
  
      <iframe src="https://audienz.berlin" 
      width="100%" height="1000px" frameborder="0" scrolling="yes" ng-onload="hideLoader()">Dein Brower unterstützt leider keine iFrames!&nbsp;</iframe>

</div>
</ion-content>
