.centerbtn {
        margin: 5 auto;
}
.center {
        margin-top: 15px;
        text-align: center;
}


.md.accordion-animated.hydrated {
        border-style: solid;
        border-width: 0.5px;
}