<ion-header>
  <ion-toolbar>
    <ion-title>Homescreen Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



<!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
<ion-reorder-group (ionItemReorder)="doReorder($event)" [disabled]="isDisabled">

  <ion-item *ngFor="let entry of form">
    <ion-label>{{entry.val}}</ion-label>
    <ion-checkbox slot="start" [(ngModel)]="entry.isChecked" [disabled]="isDisabled"></ion-checkbox>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>
  
</ion-reorder-group>

<!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
<div class="center" *ngIf="isDisabled">
<ion-button class="centerbtn" (click)="modifyHomescreen()">
  Homescreen bearbeiten
</ion-button>
</div>

<div class="center" *ngIf="!isDisabled">
<ion-button class="centerbtn" (click)="applyHomescreen()">
  Fertig
</ion-button>

<ion-button class="centerbtn" (click)="resetHomescreen()">
    Reset
</ion-button>

</div>


</ion-content>
